.header {
    // header styles
    height: 4.375rem;
    background-color: #fff;
    border-bottom: 1px solid var(--grey-light-2);
    //
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $breakpoint-4) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 7.5rem;
    }
}